<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Projeto final IA</title>
  </head>
  <body>
    <div class="wrapper flex">
      <h1>Disciplina Inteligência Artficial Aplicada - Projeto final</h1>
      <div class="flex">
      <p class="grupo">Grupo: Beatriz Barbosa, Davi Galdino,  Gabriela Silva, Samuel Lemos e Suelen Ramos.</p>
      <a href="https://github.com/bea-codes/final-project-ai" target="_blank">Github</a>
      <div class="info">
        <h3>Informações sobre o modelo:</h2>
        <ul>
          <li>Arquitetura: MobileNetV3.</li>
          <li>Tarefa: Classificação de imagens.</li>
          <li>Formatos aceitos: png, jpg, jpeg.</li>
        </ul>
      </div>  
      </div>
      <div class="prediction">
        <h2>Predição do modelo</h2>
        {{prediction_result}}
	    </div>
      <form action="{{url_for('predict')}}" method="post" class="" enctype=multipart/form-data>
        <p>Insira uma imagem para classificar:</p>
        <input type="file" name=file_input id="input" required="required"/>
        <button type="submit" value="Upload" id="submit">Enviar</button>
      </form>
    </div>
  </body>
  <style></style>
</html>
